.addressSearchContainer {
  max-width: 500px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  display: flex;
  height: auto;
}

.modeToggle {
  background: #fff;
  border: 2px solid black;
  font-size: 1rem;
  cursor: pointer;
  height: 40px;
  margin-left: 10px;
}
